{
    "AWS_ACCESS_KEY_ID": "",
    "AWS_SECRET_ACCESS_KEY": "",
    "AWS_BUCKET": "example-bucket",
    "AWS_REGION": "us-east-1",
    "environment": "development",
    "retain": 20,
    "directories": {
        "application": {
            "root": "/var/www/html",
            "exclude": [
                 ".git"
            ]
        }
    },
    "databases": {
        "application": {
            "docker_container": "container_name",
            "db_name": "db_name",
            "db_user": "db_user",
            "db_password": "db_password",
            "alias": "latest.sql.gz"
        }
    }
}
